body {
  text-align: center;
}

input {
  width: 280px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 5px;
}

.button {
  width: 280px;
  background-color: #FFC107;
  border: none;
  color: black;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 5px;
  box-shadow: 5px 5px 5px grey
}